html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  width: 65%;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

#display {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 2;
}