/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

ul,
li {
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
  /* 75% */
  color: #fff
}

a,
p,
span {
  text-decoration: none;
  font-weight: bold;
  font-size: 37.5px;
  /* 75% */
  color: #fff;
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* navigations */
.nav {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  height: 75px;
  /* 75% */
  width: 100%;
  position: fixed;
  display: block;
  z-index: 3;
  text-align: center;
}

.nav a {
  line-height: 60px;
  /* 75% */
  color: #fff;
  border-bottom: solid 6px #fff;
  /* 75% */
  margin: auto 10px;
  /* 50% */
}

.nav a:hover {
  color: #ffcc33;
  border-bottom: solid 6px #ffcc33;
  /* 75% */
}

#current_nav {
  /* 75% */
  color: #ffcc33;
  border-bottom: solid 6px #ffcc33;
}

/* project navigations */
.left_nav {
  /* 75% */
  margin-top: 75px;
  padding-top: 90px;
  padding-left: 5%;
  /* 3.85% -> 5% */
  width: 20%;
  /* 15% -> 20% */
  height: 100%;
  /* not changed */
  position: fixed;
  z-index: 1;
  display: block;
}

.left_nav a {
  /* 75% */
  /* line-height: 45px; */
  line-height: 30px;
  font-size: 22.5px;
  color: #fff;
  display: inline-flexbox;
}

.left_nav span {
  font-size: 22.5px;
  border: none;
}


.left_nav a:hover {
  /* 75% */
  color: rgba(255, 255, 255, 0.6);
  border-bottom: solid 4px rgba(255, 255, 255, 0.6);
}

#current_project {
  color: #ffcc33;
  border-bottom: solid 4px #ffcc33;
}

#top_current_project {
  color: #ffcc33;
  border-bottom: solid 6px #ffcc33;
}

.dropdown_film,
.dropdown_digital {
  display: none;
  position: absolute;
  color: #fff;
  z-index: 3;
  /* text-align: left; */
  height: auto;
  background-color: rgba(0, 0, 0, 0.9);
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 15px;
  padding-bottom: 30px;
}

.dropdown_film a,
.dropdown_digital a {
  line-height: 45px;
  font-size: 32.5px;
  color: #fff;
  margin: auto 10px;
  border: none;
}