/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

ul,
li {
  font-weight: bold;
  margin-top: 20px;
  font-size: 30px;
  /* 75% */
  color: #fff
}

a,
p,
span {
  text-decoration: none;
  font-weight: bold;
  font-size: 37.5px;
  /* 75% */
  color: #fff;
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* navigations */
.sub_nav {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 75px;
  /* 75% */
  width: 100%;
  position: fixed;
  display: block;
  z-index: 2;
  text-align: center;
}

.sub_nav a {
  line-height: 60px;
  /* 75% */
  color: #fff;
  border-bottom: solid 6px #fff;
  /* 75% */
  margin: auto 10px;
  /* 50% */
}

.sub_nav a:hover {
  color: #ffcc33;
  border-bottom: solid 6px #ffcc33;
  /* 75% */
}

#current_nav {
  /* 75% */
  color: #ffcc33;
  border-bottom: solid 6px #ffcc33;
}

/* project navigations */
.left_nav {
  /* 75% */
  margin-top: 75px;
  padding-top: 75px;
  padding-left: 5%;
  /* 3.85% -> 5% */
  width: 20%;
  /* 15% -> 20% */
  height: 100%;
  /* not changed */
  position: fixed;
  z-index: 1;
  ;
  display: block;
}

.left_nav a {
  /* 75% */
  line-height: 45px;
  font-size: 22.5px;
  color: #fff;
  display: inline-flexbox;
}

.left_nav span {
  font-size: 22.5px;
  border:none;
}


.left_nav a:hover {
  /* 75% */
  color: rgba(255, 255, 255, 0.6);
  border-bottom: solid 4px rgba(255, 255, 255, 0.6);
}

#current_project {
  color: #ffcc33;
  border-bottom: solid 4px #ffcc33;
}

#top_current_project {
  color: #ffcc33;
  border-bottom: solid 6px #ffcc33;
}

.dropdown_film,
.dropdown_digital {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 1;
  text-align: left;
  padding-left: 15%;
  width: 100%;
  height: 100vh;
  margin-top: 15px;
}

.sub_nav:hover .dropdown_film,
.sub_nav:hover .dropdown_digital {
  display: block;
}
