/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

ul, li {
  list-style: none;
  font-weight: bold;
  font-size: 50px;
  color: #fff
}

a, p, span {
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* navigations */
.sub_nav {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 100px;
  width: 100%;
  position: fixed;
  display: block;
  z-index: 2;
  text-align: center;
}

.sub_nav a {
  line-height: 80px;
  color: #fff;
  border-bottom: solid 8px #fff;
  margin: auto 20px;
}

.sub_nav a:hover {
  color: #ffcc33;
  border-bottom: solid 8px #ffcc33;
}

#current_nav {
  color: #ffcc33;
  border-bottom: solid 8px #ffcc33;
}

/* project navigations */
.left_nav {
  margin-top: 100px;
  padding-top: 100px;
  padding-left: 10%;
  width: 20%;
  height: 100%;
  position: fixed;
  z-index: 2;
}

.left_nav a {
  line-height: 80px;
  font-size: 40px;
  color: #fff;

}

.left_nav a:hover {
  border-bottom: solid 6px #fff;
}

#current_project {
  color: #ffcc33;
  border-bottom: solid 6px #ffcc33;
}
