/* project.html and projects */
.projects-index {
	padding-top: 100px;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	align-content: center;
}

.projects-index p {
    float: right;
	margin-right: 50px;
	position: relative;
}

.box {
	height: 200px;
	width: 100%;
}

.box-cinema {
	height: 400px;
	width: 100%;
	background-color: #fa285a;
}

.box-dataviz {
	height: 200px;
	width: 100%;
	background-color: #3a85d4;
}

.box-computational {
	height: 200px;
	width: 100%;
	background-color: #f09696;
}

.box-ux {
	height: 400px;
	width: 100%;
	background-color: #33cccc;
}

.box-engineering {
	height: 200px;
	width: 100%;
	background-color: #fda94c;
}

.box img {
	height: 100%;
	width: auto;
}

.box img:hover {
	opacity: 0.8;
}

.box p {
	line-height: 200px;
}

#projects {
  background-image: url("../img/background/bg_projects.jpg");
}

#cinepath {
  background-image: url("../img/background/bg_projects.jpg");
}

#cyberencoding {
  background-image: url("../img/background/bg_cyber.jpg");
}

#ui {
  background-image: url("../img/background/bg_ui.jpg");
}

#old_school {
  background-image: url("../img/background/bg_old_school.jpg");
}

#p5js {
  background-image: url("../img/background/bg_cyber.jpg");
}

#ece {
  background-image: url("../img/background/bg_fpga.jpg");
}

#dataviz {
	background-image: url("../img/background/bg_projects.jpg");
  }

#projects-cinepath, #projects-cinema {
  background-color: #fa285a;
}

#projects-cyberencoding {
	background-color: #fbd55b;
}

#projects-dataviz {
	background-color: #3a85d4;
}

#projects-ui {
	background-color: #33cccc;
}

#projects-old-school {
	background-color: #445BB9;
}

#projects-p5js {
	background-color: #f09696;
}

#projects-ece {
	background-color: #fda94c;
}

.container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
}

.content {
	padding-top: 100px;
	padding-right: 10%;
	padding-bottom: 10%;
	margin-top: 100px;
	margin-left: 30%;
	width: 60%;
	height: 100%;
    position: relative;
	text-align: left;
	z-index: 1;
}

.content span{
	line-height: 100px;
	font-size: 40px;
	padding: 8px;
	margin-top: 20px;
	margin-right: 5px;
	border: solid 8px #fff;
}

.content span:hover {
  color: #ffcc33;
  border: solid 8px #ffcc33;
}

.title p {
  font-size: 60px;
  color: #ffcc33;
}

.description p {
  font-size: 40px;
  margin-top: 20px;
	line-height: 50px;
  color: #ffffff;
}

.description a:hover {
	color: rgba(255, 255, 255, 0.6);
}


.citation p {
	font-size: 30px;
	margin-top: 15px;
	color: #ffffff;
}

.citation a {
	font-size: 40px;
	margin-top: 20px;
	color: #ffffff;
	border-bottom: solid 6px;
}

.citation a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.subtitle p {
	margin-top: 40px;
	border-bottom: solid 8px;
}

s {
	color: white;
	font-size: 1000px;
	text-decoration-line:line-through;
}

.active span:hover {
	color: #ffcc33;
  	border-bottom: solid 8px #ffcc33;
}

.more {
	font-family: "Circular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 1.5;
  	margin-top: 20px;
	display: none;
	overflow: hidden;
}
