/* project.html and projects */
.projects-index {
	padding-top: 75px;
	/* 75% */
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-content: center;
	align-content: center;
}

.projects-index p {
	float: right;
	/* margin-right: 50px; */
	margin: auto;
	position: relative;
}

.box {
	height: 200px;
	width: 100%;
	position: relative;
}

.box img,
.box iframe {
	display: block;
	float: right;
	height: 200px;
}

.box img:hover {
	opacity: 0.8;
}

.box p {
	padding: 15px;
	position: absolute;
	margin-top: 70px;
	margin-left: 70px;
}

#projects {
	background-image: url("../img/background/bg_projects.jpg");
}

#cineml {
	background-image: url("../img/background/bg_ml.png");
}

#bolex {
	background-image: url("../img/background/bg_bolex.png");
}

#wokeup {
	background-image: url("../img/background/bg_wokeup.png");
}

#perfect-human,
#synthetic-realities {
	background-image: url("../img/film/916761730012_11A.jpg");
}

#ecfc {
	background-image: url("../img/background/bg_ecfc.png");
}

#force {
	background-image: url("../img/background/bg_ipark.png");
}

#untitled-pvd-bos {
	background-image: url("../img/background/bg_projects.jpg");
}

#untitled-film {
	background-image: url("../img/background/bg_untitled-film.jpg");
}

/* background image in project pages */
#cinepath {
	background-image: url("../img/background/bg_projects.jpg");
}

#cyberencoding,
#pd {
	background-image: url("../img/background/bg_cyber.jpg");
}

#ui {
	background-image: url("../img/background/bg_ui.jpg");
}

#old_school {
	background-image: url("../img/background/bg_old_school.jpg");
}

#ece {
	background-image: url("../img/background/bg_fpga.jpg");
}

#dataviz {
	background-image: url("../img/background/bg_index.jpg");
}

#design {
	background-color: white;
}

/* Exhibition pages background */
#alchemy,
#nowhere-near,
#aaff,
#risd-grad-show,
#dm,
#of-soiled-bodies {
	background-image: url("../img/background/bg_projects.jpg");
}

#atlas {
	background-image: url("../img/background/bg_ml2.jpeg");
}

#aide-memoire {
	background-image: url("../img/background/bg_am.jpg");
}

#dm {
	background-image: url("../img/background/bg_risd-beach.JPG");
}

#mono-no-aware {
	background-image: url("../img/background/bg_mono-xvi.jpeg");
}

/* css for each project page */
.container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.4);
}

.content {
	padding-top: 80px;
	padding-right: 10%;
	padding-bottom: 10%;
	margin-top: 80px;
	margin-left: 30%;
	width: 60%;
	height: 100%;
	position: relative;
	text-align: left;
	z-index: 1;
}

.title p {
	font-size: 45px;
	/* 75% */
	color: #ffcc33;
}

.description p {
	font-size: 30px;
	/* 75% */
	margin-top: 20px;
	line-height: 37.5px;
	/* 75% */
	color: #ffffff;
}

.description a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.citation p {
	/* 75% */
	font-size: 22.5px;
	margin-top: 11.25px;
	color: #ffffff;
}

.citation a {
	font-size: 30px;
	/* 75% */
	margin-top: 15px;
	/* 75% */
	color: #ffffff;
	border-bottom: solid 6px;
}

.citation a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.subtitle p {
	/* 75% */
	margin-top: 30px;
	border-bottom: solid 6px;
}

s {
	color: white;
	font-size: 1000px;
	text-decoration-line: line-through;
}

.active span:hover {
	color: #ffcc33;
	border-bottom: solid 6px #ffcc33;
}

.more {
	font-family: "Circular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 1.5;
	margin-top: 20px;
	display: none;
	overflow: hidden;
}


.content span {
	/* 75% */
	line-height: 45px;
	/* 75->45px */
	font-size: 30px;
	margin-top: 15px;
	margin-right: 5px;
	border: solid 6px #fff;
	/* dropdown */
	border-radius: 75px;
	padding: 5px 20px;
	display: inline-flex;
}

.content span:hover {
	color: #ffcc33;
	border: solid 6px #ffcc33;
	cursor: pointer;
}


.poster {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	align-items: stretch;
	gap: 10px;
}

.poster img {
	width: calc(25% - 7.5px);
	object-fit: cover;
}

.photo_display {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	align-items: stretch;
	gap: 10px;
}

.photo_display img {
	object-fit: cover;
}

.quotation p {
	font-size: 30px;
	margin-top: 20px;
	line-height: 37.5px;
	color: #ffffff;
	font-style: italic;
	border-left: 6px solid #ffcc33;
	padding-left: 30px;
}

.quotation .author {
	font-size: 22.5px;
	color: #ffcc33;
	margin-top: 10px;
	text-align: right;
	font-weight: bold;
}

@media (max-width: 600px) {
	.poster {
		flex-wrap: wrap;
	}

	.poster img {
		width: calc(50% - 5px);
	}

	.title p {
		font-size: 36px;
		line-height: 36px;
	}


	.description p {
		font-size: 24px;
		line-height: 32px;
	}

	ul,
	li,
	a,
	i,
	p,
	span {
		font-size: 24px;
		line-height: 32px;
	}

	.content span {
		line-height: 32px;
		font-size: 24px;
		border-width: 4px;
		padding: 4px 14px;
		border-radius: 60px;
		margin-top: 10px;
		margin-right: 4px;
	}

	.content span:hover {
		border: solid 4px #ffcc33;
	}

	.quotation p {
		font-size: 24px;
		line-height: 32px;
	}

	.quotation .author {
		font-size: 20px;
	}

	.subtitle p {
		border-bottom: 4px solid #ffffff;
	}

	.citation p,
	.citation i {
		font-size: 20px;
		line-height: 20px;
		color: #ffffff;
	}
}

@media (max-width: 1200px) {
	.content {
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
		padding-top: 80px;
		padding-right: 0;
		margin-top: 80px;
	}
}

/* Responsive video embeds for specific projects */
.content iframe {
	max-width: 100%;
	height: auto;
	aspect-ratio: 700 / 500;
}