/* reset */
* {
  margin: 0;
  padding: 0;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

ul, li {
  list-style: none;
  font-weight: bold;
  font-size: 50px;
  color: #fff
}

a, p, span {
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
  color: #fff;
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#index {
  background-image: url("../img/background/bg_index.jpg");
}

#projects {
  background-image: url("../img/background/bg_projects.jpg");
}

#cinepath {
  background-image: url("../img/background/bg_projects.jpg");
}

#dropper {
  background-image: url("../img/background/bg_dropper.jpg");
}

#old_school {
  background-image: url("../img/background/bg_profile.jpg");
}

#p5js {
  background-image: url("../img/background/bg_people.jpg");
}

#places {
  background-image: url("../img/background/bg_places.jpg");
}

#people {
  background-image: url("../img/background/bg_people.jpg");
}

#profile {
  background-image: url("../img/background/bg_places.jpg");
}

.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title {
	margin: 0 auto;
	padding-top: 20%;
  text-align: center;
}


.content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 100px;
  padding-bottom: 10%;
	width: 80%;
	height: 100%;

}

#map {
    height: 100%;
    position: position;
    z-index: -1;
}

.basic_info p {
  font-size: 60px;
  margin-top: 40px;
  color: #ffcc33;
}

.description p {
  font-size: 40px;
  margin-top: 20px;
  color: #ffffff;
}

.skillset p {
  margin-top: 40px;
  color: #ffcc33;
}

span {
  line-height: 100px;
  padding: 8px;
  margin-top: 20px;
  margin-right: 5px;
  border: solid 8px #fff;
}

#index span:hover {
  color: #ffcc33;
  border: solid 8px #ffcc33;
}

#dropper span:hover {
  color: #ffcc33;
  border: solid 8px #ffcc33;
}
