{% set filmPages = [
  '/untitled-film/',
  '/ecfc/',
  '/perfect-human/',
  '/the-force/',
  '/untitled-pvd-bos/',
  '/woke-up/',
  '/cineml/',
  '/cinepath/'
] %}

<div class="nav">
  <button class="nav-toggle" aria-expanded="false" aria-controls="nav-menu">
    <span class="sr-only">Toggle navigation</span>
    <span class="nav-toggle__icon" aria-hidden="true"></span>
  </button>

  <div id="nav-menu" class="nav-menu">
    <a href="/" {% if page.url == '/' %}aria-current="page"{% endif %}>LILAN</a>
    <a href="/untitled-film/" class="dropdown-toggle film" {% if page.url in filmPages or page.url.startsWith('/cinepath') %}aria-current="page"{% endif %}>FILM</a>
    <a href="/ufdp-performance/" {% if page.url == '/ufdp-performance/' %}aria-current="page"{% endif %}>PERFORMANCE</a>
    <a href="/cv/" {% if page.url == '/cv/' %}aria-current="page"{% endif %}>CV</a>

    <div class="dropdown_film">
      <a href="/untitled-film/">UNTITLED FILM DISINFECTION PROJECT</a><br><br>
      <a href="/ecfc/">EVERYTHING COMES FULL CIRCLE</a><br><br>
      <a href="/perfect-human/">THE PERFECT HUMAN</a><br><br>
      <a href="/the-force/">THE FORCE THAT THROUGH THE GREEN FUSE DRIVES THE FLOWER</a><br><br>
      <a href="/untitled-pvd-bos/">UNTITLED: FROM PVD TO BOS</a><br><br>
      <a href="/woke-up/">I WOKE UP IN THE MORNING</a><br><br>
      <a href="/cineml/">CINEML: PARIS</a><br><br>
      <a href="/cinepath/">CINEPATH</a>
    </div>
  </div>
</div>
